body{
	position: relative;
	text-align: center;
	width: 100vw;
	height: 100vh;
	overflow:hidden;
	background-color: #7013FF;
}
img{
	width: 300px;
	position: absolute;

}
img:nth-of-type(1){
	top:12%;
	left:10%;
	animation-name: picturr_odin;
	animation-duration: 6s;
	animation-iteration-count: 1;
	animation-delay: 3s;
}
img:nth-of-type(2){
	top:17%;
	left:30%;
	animation-name: picturr_dva;
	animation-duration: 6s;
	animation-iteration-count: 1;
	animation-delay: 3s;
}
img:nth-of-type(3){
	top:17%;
	left:50%;
	animation-name: picturr_tri;
	animation-duration: 6s;
	animation-iteration-count: 1;
	animation-delay: 3s;
}
img:nth-of-type(4){
	top:12%;
	left:70%;
	animation-name: picturr_chetire;
	animation-duration: 6s;
	animation-iteration-count: 1;
	animation-delay: 3s;
}
h1{
	font-family: 'Space Grotesk', sans-serif;
	color: #FFD115;
	text-decoration: underline;
}
img:nth-of-type(5){
	top:7%;
	left:45%;
	height: 64px;
	width: 64px;
	animation-name: spin;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
img:nth-of-type(6){
	top:7%;
	left:48%;
	height: 64px;
	width: 64px;
	animation-name: gravity_wave;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
@keyframes spin{
	0%{

	}
	50%{
		left: -20%;
		opacity: 0;
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes gravity_wave{
	0%{
		transform-origin: 100% 100%;
	}
	50%{
		transform-origin: 100% 100%;
		transform: scale(1.5) rotate(180deg);
	}
	100%{
		transform-origin: 100% 100%;
		transform: rotate(360deg);
	}
}
@keyframes picturr_odin{
	20%{
		left: 50%;
		top: 20%;
		transform: translateX(-50%);
	}
	50%{
		transform: scale(0.8, 1.2) translateX(-60%);
		left: 50%;
		top: 20%;
	}
	60%{
		transform: scale(1) translateX(-50%);
		left: 50%;
		top: 20%;
	}
}
@keyframes picturr_dva{
	20%{
		left: 50%;
		top: 20%;
		transform: translateX(-50%);
	}
	50%{
		transform: scale(0.8, 1.2) translateX(-60%);
		left: 50%;
		top: 20%;
	}
	60%{
		transform: scale(1) translateX(-50%);
		left: 50%;
		top: 20%;
	}
	90%{
		transform: scale(1) translateX(-50%);
		left: 50%;
		top: 20%;
	}
}
@keyframes picturr_tri{
	20%{
		left: 50%;
		top: 20%;
		transform: translateX(-50%);
	}
	50%{
		transform: scale(0.8, 1.2) translateX(-60%);
		left: 50%;
		top: 20%;
	}
	60%{
		transform: scale(1) translateX(-50%);
		left: 50%;
		top: 20%;
	}
	80%{
		transform: scale(1) translateX(-50%);
		left: 50%;
		top: 20%;
	}
}
@keyframes picturr_chetire{
	20%{
		left: 50%;
		top: 20%;
		transform: translateX(-50%);
	}
	50%{
		transform: scale(0.8, 1.2) translateX(-60%);
		left: 50%;
		top: 20%;
	}
	60%{
		transform: scale(1) translateX(-50%);
		left: 50%;
		top: 20%;
	}
	70%{
		transform: scale(1) translateX(-50%);
		left: 50%;
		top: 20%;
	}
}
@keyframes pressme {
	0%{

	}
	50%{
		border-style: dashed;
		transform: scale(2);
	}
	100%{
		border-style: double;
		transform: scale(1);
	}
}
div{
	background-color: #FF0000;
	border-radius: 100%;
	border-width: 10px;
	border-color: #FFF600;
	height: 64px;
	width: 69px;
	bottom: 7%;
	right: 7%;
	border-style: double;
	position: absolute;
	animation-name: pressme;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}